{%extends 'base.html'%}

{%block content%}
    {{super()}}

    <div class="container">
        <div class="jumbotron">
        <h1 align="center">WELCOME TO PITCH SOCIAL</h1 s>

          <p align="center">Write a pitch of your liking and get instant feedback from fellow pitchers</p>  
            <a align="center" class="btn btn-primary" href="{{url_for('main.add_pitch')}}">
                CLICK HERE TO GET STARTED
            </a>
        </div>
        {%for pitch in pitches%}
        <div class="row">
            <div class="col-md-2"></div>
            
            <div class= "col-md-8">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{pitch.category}}</h5>
                      
                      <p class="card-text">{{pitch.mintute_pitch}}</p>
                      <a href="/addcomment/{{pitch.id}}" class="card-link">Add Comment</a>
                      <a href="#" class="card-link">View Comments</a>
                    </div>
                  </div>
            
            </div>
            
        </div>
        {%endfor%}
    </dicv>
{%endblock%}



{%block footer%}
    {{super()}}
    
{%endblock%}


    
