{%extends 'base.html'%}
{%block content%}
{{super()}}
<div class="product">
  <h1 style="color:#0a369d;" align="center">Interview Pitches</h1>
{%if interview_pitches %}
<div class="row">
{%for interview in interview_pitches%}

  
      <div  class="card text-white bg-primary m-3" style="width: 20rem;">
          <div class="card-body">
            <h5 class="card-title">{{interview.category}}</h5>
            
            <p class="card-text">{{interview.mintute_pitch}}</p>
            <a style="color: white;" href="/addcomment/{{interview.id}}" class="card-link">Add Comment</a>
            <a style="color: white;" href="/viewcomments/{{interview.id}}" class="card-link">View Comments</a>
          </div>
        </div>
  
  
  

{%endfor%}
</div>
{%else%}
  <h3>No Interview Pitches found</h3>
{%endif%}
</div>

{%endblock%}