{%extends 'base.html'%}
{%block content%}
{{super()}}
<div class="product">
    <h1 style="color:#0a369d;" align="center">Product Pitches</h1>
{%if product_pitches %}
<div class="row">
{%for product in product_pitches%}

    
        <div  class="card text-white bg-primary m-3" style="width: 20rem;">
            <div class="card-body">
              <h5 class="card-title">{{product.category}}</h5>
              
              <p class="card-text">{{product.mintute_pitch}}</p>
              <a style="color: white;" href="/addcomment/{{product.id}}" class="card-link">Add Comment</a>
              <a style="color: white;" href="/viewcomments/{{product.id}}" class="card-link">View Comments</a>
            </div>
          </div>
    
    
    

{%endfor%}
</div>
{%else%}
    <h3>No Product Pitches found</h3>
{%endif%}
</div>

{%endblock%}