{%extends 'base.html'%}

{%block content%}
    {{super()}}
<div class="container">
    <h1 align="center">Comments</h1 a>
{%if fetch_comments%}
{%for comm in fetch_comments%}

        <div class="row">
            <div class="col-md-2"></div>
            
            <div class= "col-md-8">
                <div class="card text-white bg-primary mb-3" style="width: 50rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{comm.pitch.category}}</h5>
                      
                      <p class="card-text">{{comm.comment}}</p>
                      <p class="card-text">Posted by:{{comm.user.username}}</p>
                      
                    </div>
                  </div>
            
            </div>
            
        </div>
        {%endfor%}
    {%else%}
        <h3>No comments made </h3>
    {%endif%}
    </div>
    {%endblock%}